<h2>IA - Torneo de programacion - Campus Party</h2>
<br />
<div class="alert alert-block">
  <h4 class="alert-heading">¡ATENCI&Oacute;N!</h4>
  <br/>
  2AM a 12M últimos entrenamientos
  <br/>
  2PM a 6PM ronda clasificatoria
  <br/>
  7PM Gran final en el escenario de innovación y desarrollo
</div>
<div class="row-fluid">
  <label class="control-label" for ="velocidad">velocidad</label>
  <input id="velocidad" type="range"  min="2" max="48" value="20" onchange="cambiarVelocidad(50-this.value)"/>
</div>
<div class="row-fluid">
  <canvas id="tablero" width="750px" height="540px" style="background-color:#000;" style="float:left;">
    <p>what kind of "modern" browser are you using??</p>
  </canvas>
</div>

<div class="row-fluid">
  <div class="span4">
    <h2>partida</h2>

    <p id="mapa" data-game='<%= partidaCargada %>'></p>
    <p id="jugadorA" data-jugadora='<%= jugadorA %>'></p>
    <p id="jugadorB" data-jugadorb='<%= jugadorB %>'></p>
    <p id="jugadorC" data-jugadorc='<%= jugadorC %>'></p>
    <p id="jugadorD" data-jugadord='<%= jugadorD %>'></p>
  </div>
</div>
<%- scripts.push('bot.js') %>
<%- scripts.push('visualizer.js') %>