<div class="alert alert-block">
  <h4 class="alert-heading">¡ATENCI&Oacute;N!</h4>
  <br/>
  2AM a 12M últimos entrenamientos
  <br/>
  2PM a 6PM ronda clasificatoria
  <br/>
  7PM Gran final en el escenario de innovación y desarrollo
</div>

<table class="table">
  <thead>
    <tr>
      <th>Posicion</th>
      <th>Usuario</th>
      <th>Puntos</th>
      <th>Partidas</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user, index){ %>
    <tr>
      <td><%= index+1 %></td>
      <td><a href=<%= '/users/games/'+user.get('username') %> ><%= user.get('username') %></a></td>
      <td><%= user.get('totalPrueba') %></td>
      <td><%= user.get("partidasJugadas") %></td>
    </tr>
    <% }) %>
  </tbody>
</table>