<h2>Listado de partidas para <%= username %></h2>
<br/>
<br/>

<div class="row-fluid">
  <canvas id="tablero" width="750px" height="540px" style="background-color:#000;" style="float:left;">
    <p>what kind of "modern" browser are you using??</p>
  </canvas>
</div>
<div class="row-fluid">
<p id="mapa" data-game='<%= partidas[0].get('logPartida') %>'>.</p>
<p id="jugadorA" data-jugadora='<%= partidas[0].get("jugadorA") %>'></p>
    <p id="jugadorB" data-jugadorb='<%= partidas[0].get("jugadorB") %>'></p>
    <p id="jugadorC" data-jugadorc='<%= partidas[0].get("jugadorC") %>'></p>
    <p id="jugadorD" data-jugadord='<%= partidas[0].get("jugadorD") %>'></p>
<ul>
<% partidas.forEach(function(partida){ %>
    <li>
      <a data-game="<%= partida.get('logPartida') %>" 
      data-jugadora='<%= partida.get("jugadorA") %>'
      data-jugadorb='<%= partida.get("jugadorB") %>'
      data-jugadorc='<%= partida.get("jugadorC") %>'
      data-jugadord='<%= partida.get("jugadorD") %>'
      class="pintemeEsta" href="#"><%= partida.get('fecha') %></a>
    </li>
<% }) %>
</ul>
</div>
<%- scripts.push('bot.js') %>
<%- scripts.push('visualizer.js') %>